// Colors
$white: #ffffff;
$almost-white: #f6f7fb;
$black-text: #000214;
$black-footer: #1c1d29;
$lilac: #7382ea;
$light-lilac: #e8ebff;
$dark-blue: #222448;
$topaz: #2effec;
$orange: #ffc278;
$light-orange: #fff2e2;
$red: #dc0f00;
// Fonts
